/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    list-style: none*/
/*}*/

.mask {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.prompt_box {
    width: 700px;
    height: 500px;
    background: #ffffff;
    border-radius: 6px;
    position: fixed;
    top: 20%;
    left: 40%;
    margin-left: -200px;
    overflow: hidden;
}

.prompt_box .prompt_title h3 {
    font-size: 16px;
    color: #333333;
    margin-top: 0;
}

.prompt_box .prompt_cont {
    position: relative;
    height: 158px;
}

.prompt_box .prompt_cont .prompt_text {
    line-height: 140px;
    padding-left: 30px;
}

.hide {
    display: none;
}

