body{
    background: #eee;
}
.wrapper{
    margin: 150px 80px 80px;
}
.form-signIn{
    max-width: 380px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px 40px 50px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 30px;
}
.form-signin input[type="text"], .form-signin input[type="password"]{
    margin-bottom: 10px;
}
.form-signin .form-control{
    padding: 10px;
}