body{
  background: #f3f6fd;
}

.wrapper {
  position: relative;
  width: 1895px;
  height: 1080px;

  background: #f3f6fd;
}

.topBar {
  position: absolute;
  height: 140px;
  left: 0px;
  right: 0px;
  top: 0px;

  background: #f3f6fd;
}

.topBar-left {
  position: absolute;
  width: 1021px;
  height: 110px;
  left: 15px;
  top: 15px;

  background: #f3f6fd;
}

.topBar-right {
  position: absolute;
  width: 370px;
  height: 110px;
  left: 1053px;
  top: 15px;

  background: #f3f6fd;
}

.content {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 140px;
  bottom: 100px;

  background: #f3f6fd;
}

.navigator {
  position: absolute;
  width: 85px;
  left: 15px;
  top: 17px;
  bottom: 17px;

  background: #ffffff;
  border-radius: 20px;
}

.category {
  position: absolute;
  left: 117px;
  right: 533px;
  top: 17px;
  bottom: 17px;

  background: #ffffff;
  border-radius: 30px;
}

.dog {
  position: absolute;
  width: 580px;
  height: 260px;
  left: 30px;
  top: 30px;

  background: #fee4cb;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
}

.cat {
  position: absolute;
  width: 580px;
  height: 260px;
  right: 29px;
  top: 30px;

  background: #e9e7fd;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
}

.bird {
  position: absolute;
  width: 580px;
  left: 30px;
  top: 335px;
  bottom: 177px;

  background: #ffd3e2;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
}

.pig {
  position: absolute;
  width: 580px;
  right: 29px;
  top: 335px;
  bottom: 177px;

  background: #dbf6fd;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
}

.others {
  position: absolute;
  width: 1200px;
  height: 108px;
  left: 30px;
  bottom: 28px;

  background: #c8f7dc;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 30px;
}

.itemDisplay {
  position: absolute;
  width: 497px;
  right: 17px;
  top: 17px;
  bottom: 17px;

  background: #ffffff;
  border-radius: 30px;
}

.bottomBar {
  position: absolute;
  height: 100px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background: #f3f6fd;
}
